.container{
margin: 50px auto;
}
.title{
  text-align: center;
}


.title h3{
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-bottom: 30px;

}
.products_title1{
 width: 5px;
 height: 5px;
 position: relative;
}
.products_title1 span{
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #ade2ee;
  transform: rotate(45deg);
}

.products_title1 span:nth-child(1){
  margin-left: 7px;
  background-color: #FE9F9E;
}
.products_title1 span:nth-child(2){
  margin-left: 14px;
  background-color: #FEEBB4;
}



  .title span{
    font-weight: normal;
    color: #a8a8a8;
  }

  .tabs{
    width: fit-content;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .tabs a{
    border: 1px grey solid;
    border-radius: 20px;
    padding: 5px 15px;
    min-width: 100px;
    margin: auto 10px;
  }
  .tabs a:hover{
   opacity: 0.5;
  }

  .active{
    border: 1px #D0EEF5 solid !important;
  }

  .grid_container{
    display: grid;
height:calc( 100vh - 200px);
width: 100vw;
    grid-template-areas: 
    'a a b c d'
    'a a g g h'
    'e f g g h'
    ;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:  repeat(3, 250px);
    /* grid-gap: 20px;  */
    margin: auto;
    margin-top: 50px;
  }

  .grid_container>div:nth-child(1){
    grid-area: a;
    position: relative;
  }

  .grid_container>div:nth-child(1) img{
   height: 100%;
   width: 100%;
   position: absolute;
object-fit: cover;
  }


  .grid_container>div:nth-child(1) div{
    left: 10px;
    top: 10px;
    position: absolute;
    font-size: 1.4rem;
  } 

  .des {
   font-size: 1rem;
color: #5e5e5e;
  }
  .price{
    right: 10px;
    bottom: 10px;
    position: absolute;
    font-size: 1.6rem;
  }

  .grid_container>div:nth-child(1) svg{
    position: absolute;
    right: 10px;
    top: 10px;
   }

  .grid_container>div:nth-child(2){
    grid-area: b;
    position: relative;
  }

  .grid_container>div:nth-child(2) img{
    height: 100%;
    width: 100%;
object-fit: cover;

   }

   .grid_container>div:nth-child(2) svg{
    position: absolute;
    right: 10px;
    top: 10px;
   }

  .grid_container>div:nth-child(3){
    grid-area: c;
    position: relative;
  }

  .grid_container>div:nth-child(3) img{
    height: 100%;
    width: 100%;
object-fit: cover;

   }

   .grid_container>div:nth-child(3) svg{
    position: absolute;
    right: 10px;
    top: 10px;
   }
  .grid_container>div:nth-child(4){
    grid-area: d;
    position: relative;
  }

  .grid_container>div:nth-child(4) img{
    width: 100%;
    width: 100%;
object-fit: cover;

   }
   .grid_container>div:nth-child(4) svg{
    position: absolute;
    right: 10px;
    top: 10px;
   }
  .grid_container>div:nth-child(5){
    grid-area: e;
    position: relative;
  }
  .grid_container>div:nth-child(5) img{
    height: 100%;
    width: 100%;
object-fit: cover;

   }
   .grid_container>div:nth-child(5) div{
    left: 10px;
    top: 10px;
    position: absolute;
    font-size: 1.4rem;
  } 

   .grid_container>div:nth-child(5) svg{
    position: absolute;
    right: 10px;
    top: 10px;
   }
  .grid_container>div:nth-child(6){
    grid-area: f;
    position: relative;
  }
  .grid_container>div:nth-child(6) img{
    height: 100%;
    width: 100%;
object-fit: cover;

   }
   .grid_container>div:nth-child(6) svg{
    position: absolute;
    right: 10px;
    top: 10px;
   }
  .grid_container>div:nth-child(7){
    grid-area: g;
    position: relative;
  }
  .grid_container>div:nth-child(7) img{
    height: 100%;
    width: 100%;
object-fit: cover;

   }
   .grid_container>div:nth-child(7) svg{
    position: absolute;
    right: 10px;
    top: 10px;
   }
  .grid_container>div:nth-child(8){
    grid-area: h;
    position: relative;
  }

  .grid_container>div:nth-child(8) img{
    height: 100%;
    width: 100%;
object-fit: cover;

  }
  .grid_container>div:nth-child(8) svg{
    position: absolute;
    right: 10px;
    top: 10px;
   }